#menu {
background-color: #001f51;
font-size: 1.1em;
font-family: "Arial black", Gadget, sans-serif;
line-height: 1.2em;
text-align: center;
font-weight: normal;
position: inherit;
margin: 0px;
border: 0px #001f51 solid;
text-transform: none; }
